.bg-primary {
  background-color: rgb(168, 230, 255) !important;
}

body {
  color: black !important;
  margin: 140px 0px;
}

.navbar {
  box-shadow: 0 4px 15px -5px gray;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
.home {
  background-image: url("./public/images/landing_page.jpg");
  position: fixed;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
}
.opacity {
  background-color: rgba(225, 225, 225, 0.527);
  background-blend-mode: overlay;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}
